#div1{
    width: 600px;
    height: 600px;

}
#div2{
    width: 397px;
     height: 97px;  
     border: 1px solid black;
     margin: 1px;
     float: left;
   }
#div3{
    width: 194px;
     height: 97px;  
     border: 1px solid black;
     margin: 1px;
     float: right;
   }
#div4{
     width: 196px;
     height: 197px;  
     border: 1px solid black;
     margin: 1px;
     float:left; 
     }   
#div5{
    width: 197px;
    height: 197px;  
    border: 1px solid black;
    margin: 1px;
    float: left;
         }     
 #div6{
    width: 195px;
    height: 197px;  
    border: 1px solid black;
    margin: 1px;
    float: right; 
            }    
 #div7{
    width: 196px;
    height: 97px;  
    border: 1px solid black;
    margin: 1px;
    float: left;
 }

 .colornegro{
     background-color: black
 }
 .colorverdefuerte{
    background-color: green;
}
.colorverde{
    background-color: greenyellow;
}
  
