/*1era part */
#contain_wrapper
{
 width: 900px;
 margin: auto;
}

header
{
background-color: red;

}

header img
{
width: 25%;
height: 50px;
}

#tituloprincipal
{
display: inline-block;
background-color: blue;
}

header h1
{
 font-family: serif;
 font-size: 2.5em;
 font-weight: normal;
}

header h2
{
    font-family: Verdana, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

header img, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}
/* 2ona part */
nav
{
        display: inline-block;
        width: 540px;
        text-align: right;
        background-color: orangered;

}

nav ul
{
        list-style-type: none;
}

nav li
{
    display:inline-block; 
    margin-right:15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
    border-top : 3px solid #760001;
}

/* 3era part */
#banner_image
{
background-image: url("./imatges/sanfrancisco.jpg");
margin-top: 5px;
position: relative;
width: 100%;
height: 200px;
border-radius: 5px;
margin-bottom: 25px;
box-shadow: 0px 4px 4px orange;
color: purple;
}

#banner_description
{
position: absolute;
border-radius: 0px 0px 5px 5px;
width: 99.5%;
height: 33px;
padding-top: 15px;
padding-bottom: 4px;
color: white;
font-size: 0.8em;
background-color: rgba(24, 24, 24, 0.8);
}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/red_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

/* part 4*/

article, aside
{
text-align: justify; 
display: inline-block;
margin-top: vertical;


}

article
{
    width: 625px;
    margin-right: 8px;
}

.ico_categorie
{
    margin-right: 8px;
    margin: vertical middle;
} 


article p
{
font-size: 0.8em;
}


aside
{
    width: 235px;
    background-color: gray;
    box-shadow: 0px 2px 5px gray;
    padding: 10px;
    color: white;
    font-size: 0,9em;
    border: 5px;
}

aside h1
{
font-size: 0.8em;
}

#arrow
{
    top: 25px;
    left: 250px;
    margin-right: 5px;
}


#zozor_picture{
 margin-right: 5px;
}

aside img /*separo les imatges entre si*/
{
 margin-right: 5px;   
    
}
#autor{
 text-align: center;
 border: 1px solid #181818;
 margin-right: 5px;
 display: inline-block
}

/* part 5*/

#tweet, #my_pictures, #my_friends
{
 display: inline-block;
 margin-top: vertical ;
}

#tweet
{
width: 28%
}

#my_pictures
{
 width: 35%
}

#my_friends
{
 width: 31%
}

#my_pictures img
{
border: 1px solid #181818;
}

#my_friends ul
{
    margin-top: vertical ;
    display: inline-block;
    margin-top: 0px;
    width: 48%;
    padding-right: 2px;
    list-style-image: url("images/external_link.png");
}

#my_friends a
{
text-decoration: none;
color: #760001
}

footer
{
 background:  url('imatges/top.png') no-repeat top center, url('imatges/line.png') repeat-x top, url('imatges/shadow.png') repeat-x top;
 padding-top: 25px;
}


footer p, footer ul
{
font-size: 0.8em;
}

footer h1
{
font-size: 1.1em;
}

